{% extends 'base.html' %}
{% load static %}

{% block content%}
    <div class="hero">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 hero-one d-flex flex-column">
                <h1>CELTIC</h1>
                <div class="hero-offer mt-auto">
                        Adult Jerseys
                        <p class="jersey-cost">
                            NOW $50
                        </p>
                        <p class="junior-cost">
                            Junior Jersey $30
                        </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 hero-two">
                
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 hero-three">
                
            </div>
        </div>
    </div>

{% endblock %}